CORS_ORIGIN = http://localhost:5173
MONGO_URL  =  mongodb://abishek:abishek123@localhost:27017
MONGO_NAME = live_application
PORT = 4000
ACCESS_TOKEN_SECRET = dfjgdlfgkjlrigrgi
ACCESS_TOKEN_EXPIRY = 15m
REFRESH_TOKEN_EXPIRY = 15d
REFRESH_TOKEN_SECRET = lf4ryrpothrtyiopr
MONGO_INIT_USERNAME = abishek
MONGO_INIT_PASSWORD = abishek123
CLOUD_NAME = dqxgd04uv
API_KEY = 378918772337162
API_SECRET = mx0JLeH3cv0OnT4rDeVW3BG1VQg